Fantaloons Sales managers commented that % of males versus females walking in to the store differ based on day of the week. Analyze the data and determine whether there is evidence at 5 % significance level to support this hypothesis.

Inputs are 2 discrete variables.
Output is Discrete as we are trying to find out if proportions of male and female walking in to the store is same or not
We proceed with 2-proportion test
Create hypothesis
Ho= Proportions of Male and Female are same
Ha= Proportions of Male and Female are not same

In [37]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [4]:
Faltoons=pd.read_csv("Faltoons.csv")

In [5]:
Faltoons

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [8]:
Faltoons.describe()

       Weekdays Weekend
count       400     400
unique        2       2
top      Female  Female
freq        287     233

Now find out how many person are coming to mall
Event= Male
P1 : Proportion Where weakdays = Male
P1 : Proportion Where weakends = Male
Difference= P1-P2

Male Proportion Where weakdays = Total Count at Weekdays-Freq.of weakdays

In [22]:
n1=400-287

In [23]:
n1

113

In [ ]:
Male Proportion Where Weekend = Total Count at Weekend-Freq.of Weekend

In [24]:
n2=400-233

In [25]:
n2

167

Probability = Event occuring/Total number

In [26]:
p1= 113/400

In [27]:
p1

0.2825

In [28]:
p2=167/400

In [29]:
p2

0.4175

n1=113
p1=0.2825


n2=167
p2=0.4175

In [30]:
population1 = np.random.binomial(1, p1, n1)
population2 = np.random.binomial(1, p2, n2)

In [31]:
population1.mean()

0.2920353982300885

In [47]:
population1.std()

0.45469849835982756

In [33]:
population1

array([0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0])

In [34]:
population2.mean()

0.3712574850299401

In [35]:
population2

array([1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0])

In [36]:
import statsmodels.api as sm
sm.stats.ttest_ind(population1, population2)

(-1.3733674925980686, 0.17074470530738978, 278.0)

We getting P value 0.170744

For 0.05 CI

In [40]:
0.170744*0.05

0.0085372

P value is less than 0.05 means male candidates are greter than female so go towords the null hypothesis.