In [22]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
data=pd.read_csv('Costomer.csv')

In [4]:
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [13]:
data1=pd.crosstab(data.Phillippines,data.Indonesia)

In [14]:
data1

Indonesia     Defective  Error Free
Phillippines
Defective             2          27
Error Free           31         240

In [15]:
data2=pd.crosstab(data.Malta,data.India)

In [16]:
data2

India       Defective  Error Free
Malta
Defective           0          31
Error Free         20         249

In [27]:
from scipy import stats
results=stats.chi2_contingency(data1)

In [28]:
results

(0.1856391005881107,
 0.6665712150680798,
 1,
 array([[  3.19,  25.81],
        [ 29.81, 241.19]]))

In [30]:
results1=stats.chi2_contingency(data2)

In [32]:
results1

(1.419106436194816,
 0.23355053527979247,
 1,
 array([[  2.06666667,  28.93333333],
        [ 17.93333333, 251.06666667]]))